*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    margin-top: 50px;
}
input{
    height: 20px;
}
h1{
    color: white;
    margin-bottom: 10px;
}
p{
    margin-top: 2rem;
    color: white;
}
p:hover{
    cursor: pointer;
}
button{
    margin-left: 10px;
    padding: 10px;
    font-weight: 700;
    background-color: yellowgreen;
    border: none;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
button:hover{
    cursor: pointer;
    margin-left: 10px;
    padding: 10px;
    font-weight: 700;
    background-color: rgb(0, 0, 0);
    color: yellowgreen;
    border: 1px solid yellowgreen;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;

}